install/share/sdformat13/1.9/camera.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:annotation>
    <xsd:documentation xml:lang='en'>
      <![CDATA[These elements are specific to camera sensors.]]>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:include schemaLocation='http://sdformat.org/schemas/types.xsd'/>
  <xsd:include schemaLocation='http://sdformat.org/schemas/pose.xsd'/>
  <xsd:element name='camera'>
    <xsd:complexType>
      <xsd:choice maxOccurs='unbounded'>
        <xsd:choice  minOccurs='0' maxOccurs='1'>
        <xsd:element name='camera_info_topic' type='xsd:string'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[Name of the camera info]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='0' maxOccurs='1'>
        <xsd:element name='triggered' type='xsd:boolean'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[If the camera will be triggered by a topic]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='0' maxOccurs='1'>
        <xsd:element name='trigger_topic' type='xsd:string'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[Name of the topic that will trigger the camera if enabled]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='1' maxOccurs='1'>
        <xsd:element name='horizontal_fov' type='xsd:double'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[Horizontal field of view]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='1' maxOccurs='1'>
        <xsd:element name='image'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[The image size in pixels and format.]]>
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:choice maxOccurs='unbounded'>
              <xsd:choice  minOccurs='1' maxOccurs='1'>
              <xsd:element name='width' type='xsd:int'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[Width in pixels]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='1' maxOccurs='1'>
              <xsd:element name='height' type='xsd:int'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[Height in pixels ]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='format' type='xsd:string'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[(L8|L16|R_FLOAT16|R_FLOAT32|R8G8B8|B8G8R8|BAYER_RGGB8|BAYER_BGGR8|BAYER_GBRG8|BAYER_GRBG8)]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='anti_aliasing' type='xsd:int'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[Value used for anti-aliasing]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='1' maxOccurs='1'>
        <xsd:element name='clip'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[The near and far clip planes. Objects closer or farther than these planes are not rendered.]]>
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:choice maxOccurs='unbounded'>
              <xsd:choice  minOccurs='1' maxOccurs='1'>
              <xsd:element name='near' type='xsd:double'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[Near clipping plane]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='1' maxOccurs='1'>
              <xsd:element name='far' type='xsd:double'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[Far clipping plane]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='0' maxOccurs='1'>
        <xsd:element name='save'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[Enable or disable saving of camera frames.]]>
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:choice maxOccurs='unbounded'>
              <xsd:choice  minOccurs='1' maxOccurs='1'>
              <xsd:element name='path' type='xsd:string'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[The path name which will hold the frame data. If path name is relative, then directory is relative to current working directory.]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
            </xsd:choice>
            <xsd:attribute name='enabled' type='xsd:boolean' use='required' >
              <xsd:annotation>
                <xsd:documentation xml:lang='en'>
                  <![CDATA[True = saving enabled]]>
                </xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='0' maxOccurs='1'>
        <xsd:element name='depth_camera'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[Depth camera parameters]]>
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:choice maxOccurs='unbounded'>
              <xsd:choice  minOccurs='1' maxOccurs='1'>
              <xsd:element name='output' type='xsd:string'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[Type of output]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='clip'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[The near and far clip planes. Objects closer or farther than these planes are not detected by the depth camera.]]>
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:choice maxOccurs='unbounded'>
                    <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='near' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[Near clipping plane for depth camera]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='far' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[Far clipping plane for depth camera]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                  </xsd:choice>
                </xsd:complexType>
              </xsd:element>
              </xsd:choice>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='0' maxOccurs='1'>
        <xsd:element name='segmentation_type' type='xsd:string'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[
      The segmentation type of the segmentation camera. Valid options are:
        - semantic: Semantic segmentation, which provides 2 images:
                    1. A grayscale image, with the pixel values representing the label of an object
                    2. A colored image, with the pixel values being a unique color for each label

        - panoptic | instance: Panoptic segmentation, which provides an image where each pixel
                              has 1 channel for label value of the object and 2 channels for the
                              number of the instances of that label, and a colored image which its
                              pixels have a unique color for each instance.
    ]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='0' maxOccurs='1'>
        <xsd:element name='box_type' type='xsd:string'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[
      The boundingbox type of the boundingbox camera. Valid options are:
        - 2d | visible_2d | visible_box_2d: a visible 2d box mode which provides axis aligned 2d boxes
                                            on the visible parts of the objects

        - full_2d | full_box_2d: a full 2d box mode which provides axis aligned 2d boxes that fills the
                                 object dimentions, even if it has an occluded part

        - 3d: a 3d mode which provides oriented 3d boxes
    ]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='0' maxOccurs='1'>
        <xsd:element name='noise'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[The properties of the noise model that should be applied to generated images]]>
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:choice maxOccurs='unbounded'>
              <xsd:choice  minOccurs='1' maxOccurs='1'>
              <xsd:element name='type' type='xsd:string'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[The type of noise.  Currently supported types are: "gaussian" (draw additive noise values independently for each pixel from a Gaussian distribution).]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='mean' type='xsd:double'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[For type "gaussian," the mean of the Gaussian distribution from which noise values are drawn.]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='stddev' type='xsd:double'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[For type "gaussian," the standard deviation of the Gaussian distribution from which noise values are drawn.]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='0' maxOccurs='1'>
        <xsd:element name='distortion'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[Lens distortion to be applied to camera images. See http://en.wikipedia.org/wiki/Distortion_(optics)#Software_correction]]>
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:choice maxOccurs='unbounded'>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='k1' type='xsd:double'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[The radial distortion coefficient k1]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='k2' type='xsd:double'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[The radial distortion coefficient k2]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='k3' type='xsd:double'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[The radial distortion coefficient k3]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='p1' type='xsd:double'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[The tangential distortion coefficient p1]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='p2' type='xsd:double'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[The tangential distortion coefficient p2]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='center' type='vector2d'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[The distortion center or principal point]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='0' maxOccurs='1'>
        <xsd:element name='lens'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[Lens projection description]]>
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:choice maxOccurs='unbounded'>
              <xsd:choice  minOccurs='1' maxOccurs='1'>
              <xsd:element name='type' type='xsd:string'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[Type of the lens mapping. Supported values are gnomonical, stereographic, equidistant, equisolid_angle, orthographic, custom. For gnomonical (perspective) projection, it is recommended to specify a horizontal_fov of less than or equal to 90°]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='1' maxOccurs='1'>
              <xsd:element name='scale_to_hfov' type='xsd:boolean'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[If true the image will be scaled to fit horizontal FOV, otherwise it will be shown according to projection type parameters]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='custom_function'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[Definition of custom mapping function in a form of r=c1*f*fun(theta/c2 + c3). See https://en.wikipedia.org/wiki/Fisheye_lens#Mapping_function]]>
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:choice maxOccurs='unbounded'>
                    <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='c1' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[Linear scaling constant]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='c2' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[Angle scaling constant]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='c3' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[Angle offset constant]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='f' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[Focal length of the optical system. Note: It's not a focal length of the lens in a common sense! This value is ignored if 'scale_to_fov' is set to true]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice  minOccurs='1' maxOccurs='1'>
                    <xsd:element name='fun' type='xsd:string'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[Possible values are 'sin', 'tan' and 'id']]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                  </xsd:choice>
                </xsd:complexType>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='cutoff_angle' type='xsd:double'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[Everything outside of the specified angle will be hidden, 90° by default]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='env_texture_size' type='xsd:int'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[Resolution of the environment cube map used to draw the world]]>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='intrinsics'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[Camera intrinsic parameters for setting a custom perspective projection matrix (cannot be used with WideAngleCamera since this class uses image stitching from 6 different cameras for achieving a wide field of view). The focal lengths can be computed using focal_length_in_pixels = (image_width_in_pixels * 0.5) / tan(field_of_view_in_degrees * 0.5 * PI/180)]]>
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:choice maxOccurs='unbounded'>
                    <xsd:choice  minOccurs='1' maxOccurs='1'>
                    <xsd:element name='fx' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[X focal length (in pixels, overrides horizontal_fov)]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice  minOccurs='1' maxOccurs='1'>
                    <xsd:element name='fy' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[Y focal length (in pixels, overrides horizontal_fov)]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice  minOccurs='1' maxOccurs='1'>
                    <xsd:element name='cx' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[X principal point (in pixels)]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice  minOccurs='1' maxOccurs='1'>
                    <xsd:element name='cy' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[Y principal point (in pixels)]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice  minOccurs='1' maxOccurs='1'>
                    <xsd:element name='s' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[XY axis skew]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                  </xsd:choice>
                </xsd:complexType>
              </xsd:element>
              </xsd:choice>
              <xsd:choice  minOccurs='0' maxOccurs='1'>
              <xsd:element name='projection'>
                <xsd:annotation>
                  <xsd:documentation xml:lang='en'>
                    <![CDATA[Camera projection matrix P for overriding camera intrinsic matrix K values so that users can configure P independently of K. This is useful when working with stereo cameras where P may be different from K due to the transform between the two cameras.]]>
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:choice maxOccurs='unbounded'>
                    <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='p_fx' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[X focal length for projection matrix(in pixels, overrides fx)]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='p_fy' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[Y focal length for projection matrix(in pixels, overrides fy)]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='p_cx' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[X principal point for projection matrix(in pixels, overrides cx)]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='p_cy' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[Y principal point for projection matrix(in pixels, overrides cy)]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='tx' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[X translation for projection matrix (in pixels)]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                    <xsd:choice  minOccurs='0' maxOccurs='1'>
                    <xsd:element name='ty' type='xsd:double'>
                      <xsd:annotation>
                        <xsd:documentation xml:lang='en'>
                          <![CDATA[Y translation for projection matrix (in pixels)]]>
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    </xsd:choice>
                  </xsd:choice>
                </xsd:complexType>
              </xsd:element>
              </xsd:choice>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='0' maxOccurs='1'>
        <xsd:element name='visibility_mask' type='xsd:unsignedInt'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[Visibility mask of a camera. When (camera's visibility_mask & visual's visibility_flags) evaluates to non-zero, the visual will be visible to the camera.]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
        <xsd:choice  minOccurs='0' maxOccurs='1'>
        <xsd:element name='optical_frame_id' type='xsd:string'>
          <xsd:annotation>
            <xsd:documentation xml:lang='en'>
              <![CDATA[An optional frame id name to be used in the camera_info message header.]]>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        </xsd:choice>
        <xsd:element ref='pose'/>
      </xsd:choice>
      <xsd:attribute name='name' type='xsd:string' use='optional' default='__default__'>
        <xsd:annotation>
          <xsd:documentation xml:lang='en'>
            <![CDATA[An optional name for the camera.]]>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
